[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
redis  = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
pylint = "*"
sphinx = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true